--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
streamlit
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn
pdfminer.six
python-docx
pandas
plotly
nltk
PyPDF2
sentence-transformers
textstat
scipy
numpy
requests
networkx
